*{
    margin: 0%;
    padding: 0%;
}

/* NavBar Stylings */

.navbar{
    display: grid;
    grid-template-columns: auto 2fr auto;
    background-color: #E0F2FE;
}
.navbar ul{
    display: flex;
    grid-area: 1/2;

    margin: 1% 3%;
}
.navbar li{
    list-style: none;
    padding: 4px 10px;

}
.navbar a{
    text-decoration: none;
    border-radius: 30px;
    padding: 2px;
}
.navbar a:hover{
    font-size: large;
    color: #058fe4;
    transition: 0.4s;
}
/* Logo And Name */
.logo{
    display: flex;
    grid-area: 1/1;
}
.logo img{
    margin: 2px;
    border: 2px solid #E0F2FE;
    border-radius: 30px;
}
.logo h2{
    font-size: large;
    padding: 2%;
    margin: 2%;
}
/* Searchbar */
.search-icon{
    margin: 1.2%;
    display: flex;
    grid-area: 1/3;

  }
.searchbox{
    opacity: 0;
    visibility: none;
    margin: 17px 2px;
    pointer-events: none;

}
.show{
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transition: left 0.5s ease, opacity 0.5s ease, visibility 0.5s; 
}
.search-icon img{
    margin: 17px 0px;
    margin-right: 15px;
}
.search-icon img:hover{
    height: 17px;
    width: 17px;
    transition: 0.6s;
    cursor: pointer;
}


/* Section No 1 Css Stylings */
.section1{
    height:500px;
    width: 100%;
 }
 .slideshow-container {
    position: relative;
    width: 100%;
    height: 470px; 
    overflow: hidden;
}

.slide {
     position: absolute;
    top: 0;
    left: 100%;  
    width: 100%;
    height: 100%;
    transition: left 1s ease-in-out; 
}

.slide.active {
    left: 0;  
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}



.slide-content p {
    margin: 0;
    color: rgb(0, 0, 0) ;
    font-size: xx-large;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0.8;
}

/* Add background images for each slide */
.slide:nth-child(1) {
    background: url('../images/1.jpg')  no-repeat center center/cover;
    opacity: 0.9;
}
.slide:nth-child(2) {
    background: url('../images/2.jpg') no-repeat center center/cover;
    opacity: 0.9;
}
.slide:nth-child(3) {
    background: url('../images/3.jpg') no-repeat center center/cover;
    opacity: 0.9;
}

/* Section No 2 Stylings */
.section2{
    margin: 34px;
    display: flex;
    justify-content: center;
    width: 97%;    
    overflow: hidden;
}
h1{
    text-align: center;
}
.services{ 
    border: 2px solid #55b0ea;
    padding: 2%;
    flex: 0 0 20%; /* Adjust width of service items */

    margin: 2px 38px;
    border-radius: 28px;
    background: #E0F2FE;
    margin-bottom: 20px;
  
}
.services:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}
.services img{ 
    height: 160px;
    margin: auto;
    display: block;
 }
 .btn1{
    position: relative;
    margin: 9% 0%;
    width: 2%;
 }

 .btn1 button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: #109cf3;
 }
 .btn1 button:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: transform 0.6s;
 }

 .btn2{
    position: relative;
    margin: 9% 0%;
    right: 1%;
    width: 2%;
    z-index: 2;
 }
 .btn2 button {
    height: 100%;
    width: 100%;
    border: none;
    z-index: 2;
    border-radius: 30px;
    background-color: #109cf3;
 }
 .btn2 button:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: transform 0.6s;
 }
 .slider {
    display: flex;
    overflow: hidden;
     

}



/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 2;
    background-color: #E0F2FE;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;

}



.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    color: black;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
}
/* Clients Section no 3 */
.section3{
    display: flex;
    justify-content: center;
}
.clients{
    padding: 2%;
    margin: 2%;
    border: 2px solid transparent;
    border-radius: 16%;
}
.clients:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.6s;
}

 
/* Footer Stylings */
footer{
    background: black;
    display:block;
    color: white;
    padding: 9px 20px;
}
.center{
    text-align: center;
}
.links{
    display: flex;
    margin: 1%;
    justify-content: center;
}

