* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #B3E5FC;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: #E0F2FE;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin: 4%;
}

a {
    color: #007bff;
}


.name-group {
    display: flex;
}

.half {
    flex: 1;
    margin-right: 10px;
}

.half:last-child {
    margin-right: 20px;
    margin-left: 50px;
}

.input_len_e{
 margin-right: 20px;

}


/* Footer Stylings */
footer{
    background: black;
    display:block;
    color: white;
    padding: 9px 20px;
}
.center{
    text-align: center;
}
.links{
    display: flex;
    margin: 1%;
    justify-content: center;
}
