<nav class="navbar">
  <div class="logo">
      <img src="../images/logo.jpg" alt="logo" height="50px" width="50px">
      <h2><a href="/">Nexus Medica</a></h2>
  </div>    
  <ul>
      <li class="nav-item"><a href="/home">Home</a></li>
      <li class="nav-item"><a href="/contact">Contact Us</a></li>
      <li class="nav-item"><a href="/doctors">Doctors</a></li>
      <li class="nav-item"><a href="/services">Services</a></li>
      <li class="nav-item"><a href="/signup">SignUp</a></li>
      <li class="nav-item"><a href="/login">Login</a></li>
  </ul>
<div class="search-icon">
  <input type="text" id="box" placeholder="Search" class="searchbox">
  <img src="../images/search.svg" id="icon" alt=""  height="15px" width="15px">
</div>
</nav>