<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/Cover-Page.css">
        <link rel="stylesheet" href="../css/Components.css">
        <link rel="stylesheet" href="../css/comp.css">
        <link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
        <title>Nexus Medica</title>
    </head>
    <body style="background-color: aliceblue;">
        <% if (UserData.loggedin) { %>
            <%- include('./partials/nav2')%></body>
        <% } else { %>
            <%- include('./partials/navbar')%></body>
        <% } %>
        <div class="container">
            <div class="heading">
                <h1>NEXUS MEDICA</h1>
                <div class="slogan">
                    <h3>Heal, Connect, Thrive</h3>
                </div>
            </div>
            <a href="/home" class="home-btn">Go to Home</a>
            <%- include('./partials/Footer')%></body>

        </div>
    </body>
</html>
