<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/Cover-Page.css">
        <link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
        <title>Nexus Medica</title>
    </head>
    <body style="background-color: aliceblue;">
        <nav class="navbar">
            <div class="logo">
                <img src="../images/logo.jpg" alt="logo" height="50px" width="50px">
                <h2><a href="/">Nexus Medica</a></h2>
            </div>    
            <ul>
                <li class="nav-item"><a href="/home">Home</a></li>
                <li class="nav-item"><a href="/contact">Contact Us</a></li>
                <li class="nav-item"><a href="/doctors">Doctors</a></li>
                <li class="nav-item"><a href="/services">Services</a></li>
                <li class="nav-item"><a href="/signup">SignUp</a></li>
                <li class="nav-item"><a href="/login">Login</a></li>
      
            </ul>
            <div class="search-icon">
                <input type="text" id="box" placeholder="Search" class="searchbox">
                <img src="../images/search.svg" id="icon" alt=""  height="15px" width="15px">
            </div>
        </nav>

        <div class="container">
            <div class="heading">
                <h1>NEXUS MEDICA</h1>
                <div class="slogan">
                    <h3>Heal, Connect, Thrive</h3>
                </div>
            </div>
            
            <a href="/home" class="home-btn">Go to Home</a>
        </div>
    </body>
</html>
