<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="../css/Doctor-Profile.css">
    <link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">
    <title>Doctor Profile Page</title>
</head>
<body style="background-color: aliceblue;">
    <nav class="outernav">
        <nav class="innernav1">
            <div style="grid-area: 1/1;">
                 <div class="sidebar" id="sidebar">
                     <ul>
                         <li><a href="#">Link 1</a></li>
                         <li><a href="#">Link 2</a></li>
                         <li><a href="#">links 3</a></li>
                     </ul>
                 </div>
                
                 <div class="hamburger" id="hamburger">
                     <div class="bar"></div>
                     <div class="bar"></div>
                     <div class="bar"></div>
                 </div>
             </div>
           
                 <img src="../images/profile-default.svg" alt="">
                 <ul>
                     <li><a class="as" href="">Home</a></li>
                     <li><a class="as" href="">Services</a></li>
                     <li><a class="as" href="">Contact Us</a></li>
                     
                 </ul>
                 <div class="search-icon">
                     <input type="text" id="box" placeholder="Search" class="searchbox">
                     <img src="../images/search.svg" id="icon" alt=""  >
                 </div>
        </nav>
        <nav class="innernav2">
            <ul>
                <li><a class="item" id="link1" href="#" data-section="1" onclick="toggleLine(this)">Profile</a></li>
                <li><a class="item" id="link2" href="#" data-section="2" onclick="toggleLine(this)">Appointments</a></li>
                <li><a class="item" id="link3" href="#" data-section="3" onclick="toggleLine(this)">Consultations</a></li>
                <li><a class="item" id="link4" href="#" data-section="4" onclick="toggleLine(this)">Prescriptions</a></li>
                
            </ul>
            <div class="line"></div>
        </nav>
        
    </nav>
    <section id="sidebar" class="sidebar">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings </a></li>
        </ul>
    </section>
    <section class="container" id="div-section">
        <div id="div1"></div>
        <div id="div2"></div>
        <div id="div3"></div>
        <div id="div4"></div>
        <div id="div5"></div>
    </section>

    <script src="../js/doctor.js">

    </script>
</body>
</html>