<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/Home-Page.css">
        <link rel="stylesheet" href="../css/Components.css">
        <link rel="stylesheet" href="../css/comp.css">
        <link rel="icon" href="../images/logo.jpg">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>
    <body>
        <% if (UserData.loggedin) { %>
            <%- include('./partials/nav2')%></body>
        <% } else { %>
            <%- include('./partials/navbar')%></body>
        <% } %>

    
        <section class="section1">
            <div class="slideshow-container">
                <div class="slide active">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                    <p>State of the Art technology aiding to all medical needs</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <p>Trained Professionals in all domains of medicine</p>
                    </div>
                </div>
            </div>
        </section>
        <header>
            <h1>Our Services</h1>
        </header>
        <hr>
        <section class="section2">
            <div class="btn1">
                <button id="prev"><h2><</h2></button>
            </div>
            <div class="slider">
                <div class="services">
                    <img src="../images/ehr.jpeg" alt="" style="border-radius: 20px;">
                    <h2>EHR Management</h2>    
                </div>
                <div class="services">
                    <img src="../images/pres.jpeg" alt="">
                    <h2>Prescription Management</h2>
                    
                </div>
                <div class="services">
                    <img src="../images/app.jpeg" alt=" "  style="border-radius: 20px;">
                    <h2 >Appointment Scheduling</h2>
                    
                </div>
                <div class="services">
                    <img src="../images/dire.jpeg" alt=" "  style="border-radius: 20px;">
                    <h2>Direct Consultation</h2>
                    
                </div>
                <div class="services">
                    <img src="../images/tele.jpeg" alt=" "  style="border-radius: 20px;">
                    <h2>Telemedicine Communication</h2>
                    
                </div>
                <div class="services">
                    <img src="../images/med.jpeg" alt=" "  style="border-radius: 20px;">
                    <h2>Emergency Medical Information</h2>
                    
                </div>
                <div class="services">
                    <img src="../images/pat.jpeg" alt=" "  style="border-radius: 20px;">
                    <h2>Patient Education Resources</h2>
                    
                </div>
                <div class="services">
                    <img src="../images/sup.jpeg" alt=" "  style="border-radius: 20px;">
                    <h2>Support Community</h2>
                    
                </div>
                <div class="services">
                    <img src="../images/med.jpeg" alt=" "  style="border-radius: 20px;">
                    <h2>Medicine Management</h2>
                    
                </div>
            </div>
            <div class="btn2">
                <button id="next"><h2>></h2></button>
            </div>
        </section>
        <hr>
        <header>
            <h1>Our Colaborators</h1>
        </header>
        <section class="section3">
            <div class="clients"><img src="../images/logo1.png" alt=""height="180px" width="180px"></div>
            <div class="clients"><img src="../images/logo2.png" alt=""height="180px" width="180px"></div>
            <div class="clients"><img src="../images/logo3.png" alt=""height="180px" width="180px"></div>
            <div class="clients"><img src="../images/logo4.png" alt=""height="180px" width="180px"></div>
        </section>   
        
        <%- include('./partials/Footer')%></body>
        
        <script >
            // Event Listener for sliding action in 1st section
            var slides = document.querySelectorAll('.slide');
            var currentSlide = 0;
            var slideInterval = setInterval(nextSlide, 4000); 
            function showSlide(index) {
                slides[currentSlide].classList.remove('active'); 
                slides[index].classList.add('active'); 
                currentSlide = index; 
            }

            function nextSlide() {
                var nextIndex = (currentSlide + 1) % slides.length; 
                showSlide(nextIndex); 
            }

        

            // Event listener for listing services 

            const slider = document.querySelector('.slider');
            const prevBtn = document.getElementById('next');
            const nextBtn = document.getElementById('prev');

            prevBtn.addEventListener('click', () => {
                slide('left');
            });

            nextBtn.addEventListener('click', () => {
                slide('right');
            });

            function slide(direction) {
                const slideWidth = slider.getBoundingClientRect().width;
                const offset = direction === 'left' ? slideWidth : -slideWidth;

                slider.style.transition = 'none';
                slider.style.transform = `translateX(${offset}px)`;

                if (direction === 'left') {
                    slider.prepend(slider.lastElementChild);
                } else {
                    slider.appendChild(slider.firstElementChild);
                }

                void slider.offsetWidth;

                slider.style.transition = 'transform 1.5s ease-in-out';
                slider.style.transform = 'translateX(0)';
            }
         </script> 
    </body>
    </html>
    