    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= , initial-scale=1.0">
        <link rel="stylesheet" href="../css/Patient-Profile.css">
        <link rel="stylesheet" href="../css/Components.css">
        <link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">
        <title>Patient Page</title>
    </head>
    <body style="background-color: #b9d6eb;">
        <nav class="outernav">
            <nav class="innernav1">
                <div style="grid-area: 1/1;">
                    <div class="sidebar" id="sidebar">
                        <ul>
                            <li><a href="#">Logout</a></li>
                            <li><a href="#">Setting</a></li>
                            <li><a class="item" id="link1"  data-section="1" href="#" onclick="toggleSection(document.getElementById('link1'));">Profile</a></li>
                        </ul>
                    </div>
                    
                    <div class="hamburger" id="hamburger">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            
                    <img src="../images/profile-default.svg" alt="">
                    <ul>
                        <li><a class="as" href="/home">Home</a></li>
                        <li><a class="as" href="/services">Services</a></li>
                        <li><a class="as" href="/contact">Contact Us</a></li>
                        <li><a class="as" href="doctors">Doctors</a></li>
                    </ul>
                    <div class="search-icon">
                        <input type="text" id="search-box" placeholder="Search">
                        <button type="submit" id="search-button"><i class="fa fa-search">ss</i></button>
                    </div>
            </nav>
            <nav class="innernav2">
                <ul>
                    <li><a class="item" id="link2" style="cursor: pointer;"  data-section="2"  onclick="toggleLine(this)">Appointments</a></li>
                    <li><a class="item" id="link3" style="cursor: pointer;"  data-section="3" onclick="toggleLine(this)">Consultations</a></li>
                    <li><a class="item" id="link4" style="cursor: pointer;"  data-section="4" onclick="toggleLine(this)">Prescriptions</a></li>
                    <li><a class="item" id="link5" style="cursor: pointer;"  data-section="5" onclick="toggleLine(this)">Support Community</a></li>
                </ul>
                <div class="line"></div>
            </nav>
            
        </nav>
        <section id="sidebar" class="sidebar">
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings </a></li>
            </ul>
        </section>
        <section class="container" id="div-section">
            <div id="div1"></div>
            <div id="div2"></div>
            <div id="div3"></div>
            <div id="div4"></div>
            <div id="div5"></div>
        </section>


        <script src="../js/patient.js">
 
    </script>
    </body>
    </html>