    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= , initial-scale=1.0">
        <link rel="stylesheet" href="../css/Patient-Profile.css">
        <link rel="stylesheet" href="../css/Components.css">
        <link rel="stylesheet" href="../css/comp.css">
        <link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">
        <title>Patient Page</title>
    </head>
    <body>
        <div class="navbar">
            <div class="div1">
              <img src="../images/logo.jpg" alt="Logo" class="logo" height="50px" width="50px">
              <a href="/" class="website-name">Nexus Medica</a>
            </div>
            <div class="div2">
              <div class="nav-links">
                <a href="/home">Home</a>
                <a href="/services">Services</a>
                <a href="/doctors">Doctors</a>
                <a href="/contact">Contact Us</a>
              </div>
              <div class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
           
            </div>
        </div>
        
        <section id="sidebar" class="sidebar">
            <ul>
                <li><a class="item" data-section="1" href="#">Profile</a></li>
                <li><a class="item" data-section="2" href="#">Appointments</a></li>
                <li><a class="item" data-section="3" href="#">Consultations</a></li>
                <li><a class="item" data-section="4" href="#">Prescriptions</a></li>
                <li><a class="item" data-section="5" href="#">Support Community</a></li>
                <li><a class="item" href="/logout">Logout </a></li>
            </ul>
        </section>
        <section class="container" id="div-section">
            <div id="div1"></div>
            <div id="div2"></div>
            <div id="div3"></div>
            <div id="div4"></div>
            <div id="div5"></div>
            <div id="div6" style="height: 400px; display: flex;justify-content: center; flex-direction: column;">
              <h1 style="font-size: xxx-large;color: #002c41;">Welcome Home</h1>
            </div>
        </section>


        <script src="../js/patient.js">
 
    </script>
    </body>
    </html>