* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #287d9b; /* Adjusted background color */
    background-image: linear-gradient(to right, #287d9b, #3EABE1); /* Gradient background */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #b9d6eb; 
    background-image: linear-gradient(to right, #b9d6eb, #a4d5ee); /* Gradient background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: #E0F2FE;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #287d9b;
}

p {
    text-align: center;
    margin: 4%;
}

a {
    color: #007bff;
}


.name-group {
    display: flex;
}

.half {
    flex: 1;
    margin-right: 10px;
}

.half:last-child {
    margin-right: 20px;
    margin-left: 50px;
}

.input_len_e{
 margin-right: 20px;

}
.confirmation {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.h {
    text-align: center;
    color: #333;
    margin-top: 10px;
}

.confirmation div {
    display: flex;
    justify-content: center;
}

.confirmation button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.confirmation button:hover {
    background-color: #0056b3;
}
.container.show {
    opacity: 0.4; /* Apply opacity only to the container */
}
